.wish {
    margin-right: auto;
    margin-left: auto;
}

.form-signin{
    /* margin-top: 5em; */
    /* background-color: aqua; */
    transition: all 300ms  ;

}

.fc-event {
    margin-bottom: 1em;
    font-weight: lighter;
    padding: 0.5em;
}

.fc-content {
    color: white;   
}

#external-events {
    margin-top:1em;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .card-img-top {
      width: 100%;
      height: 30vh;
      object-fit: cover;
}
    

  @media (min-width: 768px) {
    
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .fc-toolbar.fc-header-toolbar {
      margin-top: 0.5em;
  }

  #map {
    height: 30em;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.display-4 {
    font-weight: lighter;
}

.navbar {
    padding: 0rem 1rem;
}


.fab {
    width: 48px;
    height: 48px;
    background-color:#17a2b8;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;
  
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 70px;
  
    position: fixed;
    right: 50px;
    bottom: 50px;
 }
  
 .fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
 }
 